<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merono.g"
    android:versionCode="40"
    android:versionName="4.61" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="GApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name" >
        <activity android:name=".GActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThreadActivity" >
        </activity>
        <activity android:name=".ImageWebView" >
        </activity>
        <activity
            android:name=".PrefsActivity"
            android:label="Settings" >
        </activity>
        <activity android:name=".ImageBrowser" >
        </activity>
    </application>

</manifest>